*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e207c;
}


/* Geral config */
.bkg-linear{
    background: linear-gradient(90deg, #cdbbf5 15%, #c9f7fc); 
}

.bkg-linear-revers{
    background: linear-gradient(90deg, #c9f7fc 15%, #cdbbf5); 
}

.cor-txt-f{
    color: rgb(136, 132, 132);
}


/*Estrutural config*/
body{
    background-image: url('/img/bg-inicio.jpg');
}

header{
    height: 40px;
    background-color: #4e207c;
}

form{
    
    input, button{
        padding: 10px 15px;
        border: none;
    }

    button{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #4e207c;
        color: aliceblue;
    }
}

footer{
    margin-top: 13rem;
    background-color: #4e207c;
}


/*Componentes config*/
.card{
    background-color: #ecc5f1;
    overflow: hidden;

    .card-header{
        position: relative;
        border: none;
    }
    
    .card-header img{
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        height: auto;
    }
    
    .card-body, .card-footer{
        border: none;
    }

}

#btn-vlt-inicio {
    position: fixed;
    bottom: 0; 
    right: 0; 
    margin: 20px;
    background-color: white;
    border-radius: 50px;
    display: none;
    border: none;
}