*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #4e207c;
}

body{
    background-image: url('/img/bg-inicio.jpg');
}

header{
    max-width: 100%;
    height: 40px;
    background-color: #4e207c;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main{
    margin: 20px 20px;

    h1{
        font-size: 2rem;
    }

    h1, p{
        font-weight: bold;
        margin-bottom: 20px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        input{
            margin-bottom: 20px;
            padding: 20px;
            height: 3rem;
            width: auto;
            background: linear-gradient(90deg, #cdbbf5 15%, #c9f7fc);
            border: none;
        }

        #imput{
          background: linear-gradient(-90deg, #cdbbf5 15%, #c9f7fc)
        }

        button{
            height: 2rem;
            width: 40%;
            background-color: #4e207c;
            color: #f6cef8;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            font-weight: bold;
        }
    }
 
}

.container-main-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bkg{
    width: 100%;
}

.title-cards{
    text-align: center;
    margin-bottom: 80px;
    h2{
        font-weight: bold;
        font-size: 2rem;
        strong{
            background-color: #c9f7fc;
        }
    }
}

#card{
    margin: 20px;
    margin-bottom: 40px;
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #e9cef5;

    h3{
        min-width: 100%;
        text-align: center;
        padding: 30px;
        font-weight: bold;
        font-size: 18px;
        background: linear-gradient(-90deg, #cdbbf5 15%, #c9f7fc);
        border-top-right-radius: 20px;
    }

    #card-txt{ 
        height: 40%;
        padding: 30px;
    }

    #rodape{
        div{
            strong{
                font-size: 3rem;
                color: #7c4ea9;
                font-weight: 900;
            }
        }
    }

}

#card-end{
    display: flex;
    justify-content: center;
    div{
        padding: 20px;
        text-align: center;
        background: linear-gradient(-90deg, #cdbbf5 15%, #c9f7fc) ;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        max-width: 30rem;
    }
}

footer{
    margin-top: 13rem;
    height: 80vh;
    background-color: #4e207c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;

    #notice{
        height: 60vh;

        p{
            margin:20px 80px;
            padding: 50px;
        }
    }

    #ass{
        height: 10%;
        padding: 40px;
        margin: 40px;
        border-top: 1px solid  rgb(136, 132, 132);
    }
}

.cor-txt-f{
    color: rgb(136, 132, 132);
}

#btn-vlt-inicio {
    position: fixed;
    bottom: 0; 
    right: 0; 
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    display: none;
}
/* Movimentos */
.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

.hidden-reverse{
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.show-reverse{
    opacity: 1;
    transform: translateX(-0);
    transition: all 1s;
}

.hidden-y{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;
}

.show-y{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;
}

.hidden-y-reverse{
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}

.show-y-reverse{
    opacity: 1;
    transform: translateY(-0);
    transition: all 1s;
}